# Copyright (C) 2025 Roberto Rossini (roberros@uio.no)
# SPDX-License-Identifier: MIT

name: "Build Docker images for Python development/testing"
on:
  push:
    branches: [ main, devel, ci-devel ]
    paths:
      - ".github/workflows/build-python-images.yml"
      - "dockerfiles/ubuntu-python.Dockerfile"
  pull_request:
    branches: [ main, devel, ci-devel ]
    paths:
      - ".github/workflows/build-python-images.yml"
      - "dockerfiles/ubuntu-python.Dockerfile"
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read
  packages: write

# https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  generate-tags:
    name: Generate Image tags
    runs-on: ubuntu-latest
    outputs:
      commit-date: ${{ steps.metadata.outputs.commit-date }}
      build-date: ${{ steps.metadata.outputs.build-date }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Extract metadata
        id: metadata
        run: |
          commit_date="$(git show -s --format='%as' HEAD | tr -d '-')"
          build_date="$(date +%Y%m%d)"

          echo "commit-date=$commit_date" | tee -a "$GITHUB_OUTPUT"
          echo "build-date=$build_date" | tee -a "$GITHUB_OUTPUT"

  build-dockerfile:
    name: Build Dockerfile
    needs: [generate-tags]
    outputs:
      image: ${{ steps.metadata.outputs.image }}
      tag: ${{ steps.metadata.outputs.build-date }}
    strategy:
      fail-fast: false
      matrix:
        include:  # IMPORTANT: the current setup assumes that all entries refer to the same version of Python
          - { runner: ubuntu-24.04,
              platform: "linux/amd64",
              python-version: "3.14",
              url: "https://www.python.org/ftp/python/3.14.2/Python-3.14.2.tar.xz",
              sha256: "ce543ab854bc256b61b71e9b27f831ffd1bfd60a479d639f8be7f9757cf573e9"
          }
          - { runner: ubuntu-24.04-arm,
              platform: "linux/arm64",
              python-version: "3.14",
              url: "https://www.python.org/ftp/python/3.14.2/Python-3.14.2.tar.xz",
              sha256: "ce543ab854bc256b61b71e9b27f831ffd1bfd60a479d639f8be7f9757cf573e9"
          }
    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Extract metadata
        id: metadata
        run: |
          image='ghcr.io/${{ github.repository }}/ubuntu-python'
          image+="-$(echo '${{ matrix.python-version }}' | tr -d '.')"

          echo "commit-date=${{ needs.generate-tags.outputs.commit-date }}" | tee -a "$GITHUB_OUTPUT"
          echo "build-date=${{ needs.generate-tags.outputs.build-date }}" | tee -a "$GITHUB_OUTPUT"
          echo "image=$image" | tee -a "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.metadata.outputs.image }}
          flavor: latest=true
          tags: type=raw,value=${{ steps.metadata.outputs.build-date }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image and push
        uses: docker/build-push-action@v6
        id: build-image
        with:
          push: ${{ github.event_name != 'pull_request' }}
          file: dockerfiles/ubuntu-python.Dockerfile
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ matrix.platform }}
          outputs: type=image,"name=${{ steps.metadata.outputs.image }}",push-by-digest=true,name-canonical=true,push=true,compression=zstd,compression-level=19,force-compression=true
          build-args: |
            BASE_OS=ghcr.io/paulsengroup/ci-docker-images/ubuntu-24.04-cxx-clang-21:latest
            FINAL_OS=ubuntu:24.04
            PYTHON_TAR_URL=${{ matrix.url }}
            PYTHON_TAR_SHA256=${{ matrix.sha256 }}

      - name: Export digest
        if: github.event_name != 'pull_request'
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build-image.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Generate artifact name
        if: github.event_name != 'pull_request'
        id: generate-artifact-name
        run: |
          name="$(echo '${{ steps.metadata.outputs.image }}-${{ matrix.platform }}' |
            tr -c '[:alnum:]._-' '-' |
            sed 's/-\+/-/g' |
            sed 's/-$//' |
            tr '[:upper:]' '[:lower:]'
          )"

          echo "name=$name" | tee -a $GITHUB_OUTPUT

      - name: Upload digest
        if: github.event_name != 'pull_request'
        uses: actions/upload-artifact@v6
        with:
          name: digests-${{ steps.generate-artifact-name.outputs.name }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge-images:
    name: Merge images
    if: github.event_name != 'pull_request'
    needs:
      - generate-tags
      - build-dockerfile
    strategy:
      fail-fast: false
      matrix:
        include:  # IMPORTANT: the current setup assumes that all entries refer to the same version of Python
          - { runner: ubuntu-24.04,
              platform: "linux/amd64",
              python-version: "3.14",
              url: "https://www.python.org/ftp/python/3.14.0/Python-3.14.0.tar.xz",
              sha256: "2299dae542d395ce3883aca00d3c910307cd68e0b2f7336098c8e7b7eee9f3e9"
          }
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Collect metadata
        id: metadata
        run: |
          image='ghcr.io/${{ github.repository }}/ubuntu-python'
          image+="-$(echo '${{ matrix.python-version }}' | tr -d '.')"

          artifact_name="$(echo "$image" |
            tr -c '[:alnum:]._-' '-' |
            sed 's/-\+/-/g' |
            sed 's/-$//' |
            tr '[:upper:]' '[:lower:]'
          )"
          tags='${{ needs.generate-tags.outputs.build-date }}'

          echo "image=$image" | tee -a "$GITHUB_OUTPUT"
          echo "artifact-name=$artifact_name" | tee -a $GITHUB_OUTPUT
          echo "tags=$tags" | tee -a $GITHUB_OUTPUT

      - name: Download digests
        uses: actions/download-artifact@v7
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ steps.metadata.outputs.artifact-name }}-*
          merge-multiple: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: latest=true
          images: ${{ steps.metadata.outputs.image }}
          tags: ${{ steps.metadata.outputs.tags }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          # https://docs.docker.com/build/ci/github-actions/multi-platform/#distribute-build-across-multiple-runners
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf ' ${{ steps.metadata.outputs.image }}@sha256:%s ' *)

      - name: Inspect image
        run: docker buildx imagetools inspect ${{ steps.metadata.outputs.image }}:${{ steps.meta.outputs.version }}


  build-ubuntu-python-images-status-check:
    name: Status Check (Build Docker images for Python development/testing)
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs:
      - build-dockerfile
      - merge-images

    steps:
      - name: Collect job results
        if: |
          needs.build-dockerfile.result != 'success' ||
          (
            needs.merge-images.result != 'success'   &&
            needs.merge-images.result != 'skipped'
          )
        run: exit 1
